.quiz-title {
    font-size: 1.5em;
}

.info-display {
    width: fit-content;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: 2px 2px 0 0 silver;
}

.info-display p {
    margin-bottom: 0;
    padding: 0 10px 10px 10px;

}

.info-display p:first-child {
    margin-bottom: 8px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: whitesmoke;

}


