button.btn-login {
    background-color: silver;
}

button.btn-login:hover {
    background-color: rgb(210, 210, 210);
}

button.btn-register {
    border-color: grey;
}

button.btn-register:hover {
    border-color: steelblue;
    background-color: rgb(206, 224, 230);
}

.form-invalid, .form-message {
    color: rgb(235, 0, 0);
}

.info-text {
    font-size: 1.2em;
}