<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav col-md-6 mt-1 ms-5">
                <li class="nav-item ms-2" *ngFor="let category of quizCategories">
                    <a class="nav-link" [ngStyle]="{'border-color': category.color, 'background-color': category.selected || category.color == hoverColor ? category.color : ''}" (mouseover)="setHoverStyle(category)" (mouseout)="resetStyle(category)" (click)="setFilterValues(category)">{{category.name}} </a>
                </li>
                <li class="nav-item ms-5">
                    <label class="me-2" for="search">Search quizzes:</label>
                    <input type="text" id="search" [(ngModel)]="query">
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row mt-5 mb-3 ms-1">
        <article class="quiz-header">
            <h1 class="quiz-header-title text-center">Test your knowledge with quizzes from our collection</h1>
            <p class="quiz-header-details text-right">Quizzes in collection: {{quizzes.length}}</p>
        </article>
    </div>
    <div class="row">
        <div class="col-md-4 g-5" *ngFor="let quiz of quizzes | filter: 'categoryId' : filterValues : query; let i=index">
            <article class="quiz h-100" [ngClass]="{'overlay': quiz.showOverlay}" (mouseenter)="showDescription(quiz)" (mouseleave)="hideDescription(quiz)" [routerLink]="authenticated ? [quiz.id] : null" (click)="toggleOverlay(quiz)" (mousemove)="hideOverlay($event)">
                <div class="ms-auto login-text" id="text" *ngIf="quiz.showOverlay">
                    <p>Sign in to take a quiz</p>
                </div>
                <section class="quiz-bg d-flex flex-column justify-content-start" [ngStyle]="{'background-image': 'url(' + (getCategoryImage(quiz.categoryId) | async) + ')'}">
                    <header class="quiz-header">
                        <div class="d-flex justify-content-end mt-2 me-2">
                            <p [ngStyle]="{'background-color': getCategoryColor(quiz.categoryId) | async}" class="quiz-category col-md-3 text-center">{{quiz.categoryName}}</p>
                        </div>
                        <div class="d-flex justify-content-start ms-2">
                           <h2 class="quiz-title col-md-10">{{quiz.title}}</h2>
                        </div>             
                    </header>
                    <div class="quiz-details mt-5 mx-4" [ngClass]="{'quiz-details-popup': quiz.showDescription}" >
                        <p class="quiz-details-description py-1 px-2" *ngIf="quiz.showDescription; else kweez">{{quiz.description}}</p>
                        <ng-template #kweez>
                            <p class="quiz-kweez text-center p-1" [ngStyle]="{'color': quiz.color}">Kweez!</p>
                        </ng-template>
                    </div>
                </section>
                <footer class="quiz-footer d-flex p-1" [ngClass]="quiz.timelimit ? 'justify-content-between' : 'justify-content-end'">
                    <p class="time-limit m-0" *ngIf="quiz.timelimit">Time limit: <span>{{quiz.timelimit}} min(s)</span></p>
                    <p class="timestamp m-0">Last updated: <span>{{quiz.timestamp |  date:"d.M.yyyy" }}</span></p>
                </footer>
            </article>
          </div>
    </div>
</div>

