.profile-details::before {
    content: "\200B";
    visibility: hidden;
}

.profile-details {
    margin: 0;
    padding-left: 5px;
    border: 1px solid transparent;
    color: rgb(150, 150, 150);
}

input[type='text'], input[type='email'] {
    margin: 0;
    padding: 0 0 0 5px;
}

button {
    border: 1px solid silver;
    background-color: whitesmoke;
}

button:hover {
    background-color: rgb(220, 220, 220);
}

.form-invalid {
    color: rgb(235, 0, 0);
}

ul {
    list-style-type: none;
    padding: 0; 
    margin: 0; 
}
