<div class="container-fluid">
    <div class="row mt-5 justify-content-center">
        <div class="col-md-3 col-xs-12 mb-2 mb-md-0 me-md-5 text-md-end text-center">
            <div><img src="../../../assets/avatar.png" alt="avatar" class="img-thumbnail"></div>
        </div>
        <div class="col-md-3 col-xs-12">
            <form [formGroup]="profileForm">
                <div class="form-group row mb-2 justify-content-center justify-content-md-start">
                    <div class="col-3">
                        <label>Username:</label>
                    </div>
                    <div class="col-6 col-md-9"> 
                        <p class="profile-details" *ngIf="!edit; else username">{{user.username}}</p>
                        <ng-template #username>
                            <input class="form-control rounded" type="text" formControlName="username">
                        </ng-template>
                    </div>
                </div>
                <div class="form-group row mb-2 justify-content-center justify-content-md-start">
                    <div class="col-3">
                        <label>Name:</label>
                    </div>
                    <div class="col-6 col-md-9"> 
                        <p class="profile-details" *ngIf="!edit; else name">{{user.name}}</p>
                        <ng-template #name>
                            <input class="form-control rounded" type="text" formControlName="name">
                        </ng-template>
                    </div>
                </div>
                <div class="form-group row mb-2 justify-content-center justify-content-md-start">
                    <div class="col-3">
                        <label>Surname:</label>
                    </div>
                    <div class="col-6 col-md-9"> 
                        <p class="profile-details" *ngIf="!edit; else surname">{{user.surname}}</p>
                        <ng-template #surname>
                            <input class="form-control rounded" type="text" formControlName="surname">
                        </ng-template>
                    </div>
                </div>
                <div class="form-group row mb-2 justify-content-center justify-content-md-start">
                    <div class="col-3">
                        <label>Age:</label>
                    </div>
                    <div class="col-6 col-md-9"> 
                        <p class="profile-details" *ngIf="!edit; else age">{{user.age}}</p>
                        <ng-template #age>
                            <input class="form-control rounded" type="text" formControlName="age">
                        </ng-template>
                    </div>
                </div>
                <div class="form-group row mb-2 justify-content-center justify-content-md-start">
                    <div class="col-3">
                        <label>E-mail:</label>
                    </div>
                    <div class="col-6 col-md-9"> 
                        <p class="profile-details" *ngIf="!edit; else email">{{user.email}}</p>
                        <ng-template #email>
                            <input class="form-control rounded" type="email" formControlName="email">
                            <ul *ngIf="profileForm.get('email')?.invalid && profileForm.get('email')?.dirty">
                                <li class="form-invalid" *ngFor="let msg of getErrorMessages(profileForm.get('email')!)">- {{msg}}</li>
                            </ul>
                    </ng-template>
                    </div>
                </div>
                <div class="form-group row justify-content-center justify-content-md-start">
                    <div class="col-6 col-md-9 offset-3">
                        <button class="btn btn-sm mt-2 me-2" (click)="onEdit()" [disabled]="edit && !profileForm.valid">{{!edit ? 'Edit profile' : 'Save'}}</button>
                        <button class="btn btn-sm mt-2" *ngIf="edit" (click)="onCancel()">Cancel</button>
                    </div>
                </div>
        </form>
        </div>
    </div>
</div>
